*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: lightgreen;
    padding: 15px 25px;
}

header ul, footer ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

header ul li a, footer ul li a{
    font-size: 20px;
    font-weight: 700;
}
h1{
    color: red;
}
.expenseCard{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}